html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white; }

body {
  background-color: #202324; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0px 5%; }
  header img {
    width: 210px;
    background-color: black;
    padding-right: 40px; }
  header nav {
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px; }
    header nav div a {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.5rem;
      color: white; }
      header nav div a:hover {
        color: #741474; }

.nav_item_2 {
  background-color: #7200ff;
  padding-top: 20px;
  padding-bottom: 20px; }

.spam div {
  position: absolute;
  top: 30%;
  left: 10%; }
  .spam div h2 {
    text-transform: uppercase;
    font-size: 7rem;
    width: 50%;
    color: white; }
    .spam div h2 strong {
      color: #7200ff; }
  .spam div h3 {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    color: #dcbfff; }

.spam img {
  width: 100vw;
  height: 70vh;
  object-fit: cover; }

.presentacion {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px; }
  .presentacion h2 {
    display: inline;
    font-size: 2rem;
    border-bottom: solid 2px #7200ff; }
  .presentacion h3 {
    display: inline;
    color: #7200ff;
    font-size: 2rem; }
  .presentacion div {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .presentacion div article {
      margin: 0 20px;
      background-color: #181818;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      height: 500px;
      box-sizing: content-box; }
      .presentacion div article:hover {
        box-shadow: 2px 2px 15px #7200ff; }
      .presentacion div article img {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 20px; }
      .presentacion div article h2 {
        text-align: center;
        width: 250px;
        margin: 0 auto;
        border: none;
        font-size: 1.5rem; }
      .presentacion div article h3 {
        font-size: 3rem;
        margin-top: 40px;
        text-align: center;
        border: none; }
      .presentacion div article a {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a84cd3;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 40px;
        font-size: 1.2rem; }

@media screen and (min-width: 480px) and (max-width: 1300px) {
  .nav_item {
    display: none; } }
